doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar-placeholder
      div.navbar
        a.home-button(href='/') Home
        div.title
          h1 HearthNode
        div.login-box
          if !userName
            a#login-button(href='') Login
            br
            a#signup-button(href='/signup') Sign Up
          if userName
            p Welcome #{userName}
            a(href='/user-cards/' + userName) Go to Your Deck
            p
            form(action='/logout', method='post')
              input(type='submit', value='Logout')
          if !userName
            div#hidden-login
              if inputError
                p= inputError
              form(action='/login', method='post')
                label(for='username') User Name
                br
                input#username(type='text', name='user_name')
                br
                label(for='password') Password
                br
                input#password(type='password', name='password')
                br
                input(type='submit', value='Login')
                input#close-hidden(type='button', value='Cancel')
    block content
