body {
  /*background-image: url('../images/hearthnode-background.jpg');*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login-box {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: purple;
  margin-right: 100px;
  float: right;
}

.hidden-name {
  display: none;
}

.card {
  display: inline;
}

#card-at-max {
  display: none;
  color: red;
}

#card-counter {
  display: inline-block;
}

.card-img img {
  width: 30%;
}

#hidden-login {
  width: 200px;
  height: 200px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  margin-right: 20px;
}

a {
  color: #00B7FF;
}

.jumbotron {
  width: 100%;
  background: no-repeat center center;
  height: 300px;
  padding-top: 10%;
}

.cards-table thead th:first-child {
  width: 200px;
  text-align: left;
}

.cards-table thead th {
  background-color: black;
  color: white;
}
.card-img {
  display: inline-block;
  width: 90%;
  margin-left: 9%;
}

.filters {
  display: inline-block;
  position: absolute;
  color: white;
  background-color: green;
}

.added-cards {
  width: 34%;
  min-height: 350px;
  overflow: auto;
  background-color: orange;
  display: inline-block;
  float: right;
}

.images {
  margin-left: 8%;
}

.navbar {
  width: 100%;
  background-color: brown;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: brown;
}

.main-scroll {
  margin-left: 4%;
  margin-right: auto;
  width: 90%;
  background-color: purple;
  display: inline-block;
}

.scroll {
  margin-left: 0;
  margin-right: auto;
  width: 66%;
  height: 650px;
  background-color: purple;
  display: inline-block;
  overflow: scroll;
}

.footer {
  width: 100%;
  background-color: green;
}
