body {
  background-image: url('../images/hearthnode-background.jpg');
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login-box {
  display: inline-block;
  width: 150px;
  background-color: #f3eddd;
  float: right;
  margin-right: 10px;
}

.hidden-name {
  display: none;
}

.card {
  display: inline;
}

#card-at-max {
  display: none;
  color: red;
}

#card-counter {
  display: inline-block;
}

.card-img img {
  width: 30%;
}

#hidden-login {
  width: 200px;
  height: 200px;
  background-color: #f3eddd;
  display: none;
}

a {
  color: #00B7FF;
}

.jumbotron {
  width: 100%;
  background: no-repeat center center;
  height: 300px;
  padding-top: 10%;
}

.home-button {
  margin-left: 20px;
}

.title {
  display: inline-block;
  margin-left: 37%;
  color: white;
}

.cards-table thead th:first-child {
  width: 200px;
  text-align: left;
}

.cards-table thead th {
  background-color: black;
  color: white;
}
.card-img {
  display: inline-block;
  width: 90%;
  margin-left: 9%;
}

.filters {
  display: inline-block;
  color: white;
  background-color: #000;
  opacity: 0.1;
}

.filters-container {
  display: inline-block;
  color: white;
  position: fixed;
}

.filters:hover {
  opacity: 1;
}

.added-cards {
  width: 34%;
  min-height: 350px;
  max-height: 650px;
  overflow: auto;
  background-color: orange;
  display: inline-block;
  float: right;
}

.images {
  margin-left: 8%;
}

.navbar {
  width: 100%;
  background-image: url('http://pantera.sdm.buffalo.edu/3D/DentalInterface/set1/data/navbar_background.png');
  height: 50px;
  position: fixed;
}

.navbar-placeholder {
  width: 100%;
  height: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: brown;
}

.main-scroll {
  margin-left: 4%;
  margin-right: auto;
  width: 90%;
  background-color: #f3eddd;
  display: inline-block;
}

.scroll {
  margin-left: 0;
  margin-right: auto;
  width: 66%;
  height: 650px;
  background-image: url('http://static-hearth.cursecdn.com/1-0-5661-17472/Skins/Hearth/images/class_choose_frame.png');
  display: inline-block;
  overflow: scroll;
}

.footer {
  width: 100%;
  background-image: url('http://pantera.sdm.buffalo.edu/3D/DentalInterface/set1/data/navbar_background.png');
  height: 50px;
  color: white;
}
